/*
==================================================================
Fonts
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
/*

==================================================================
Reset
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  overflow-x: hidden;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #FFF;
}

/*
==================================================================
Navigator
*/
.navbar {
  height: 75px;
  background: linear-gradient(16.22deg, rgba(0, 74, 173, 0.9), rgba(148, 99, 214, 0.9));
  display: flex;
  align-items: center;
}

.h-75 {
  height: 75px;
}

.navbar-nav{
  gap: 70px;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  height: 73px;
  align-content: center;
}

.navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #FFF;
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-item:hover::after {
  width: 100%;
  transform: translateY(0);
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: #ff5733;
}

.nav-tabs .nav-item,
.nav-tabs .nav-item .nav-link.active{
  border-radius: 17px;
}

.nav-tabs .nav-item .nav-link{
  background: linear-gradient(16.22deg, rgb(3, 131, 230) 31.33%, rgb(10, 199, 83) 94.8%, rgb(255, 255, 255) 158.28%);
  color: #3c1e66;
  border-radius: 17px;
}

.nav-tabs .nav-item .nav-link.active{
  background: linear-gradient(90.58deg, rgb(255, 0, 85) 6.93%, rgb(255, 45, 202) 100.15%);
  color: #3c1e66;
  border-radius: 17px;
}
/*
==================================================================
Banner
*/
.banner {
  margin-top: 75px;
  padding: 0px;
  height: 100vh;
}

.banner-video {
  object-fit: cover;
  z-index: 0;
  top: 0;
  left: 0;
}

.banner-text {
  color: white;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.126);
}

/*
==================================================================
Section
=====================
*/

section {
  background: linear-gradient(270deg, #004aad, #3c1e66);
}

/*
index.html
*/



.index-section img {
  border-radius: 5%;
}

.index-section h2{
  color: white;
}

.index-section em{
  color: #ff5733;
}

/*about.html ======================*/

.about-section {
  padding-top: 20vh;
  min-height: 80vh;
}

.about-section li {
  cursor: pointer;
}

.tabs-img img {
  height: 50vh;
}

.about-section h4{
  color: white;
}
/*event.html ======================*/

.events-section {
  padding-top: 20vh;
  min-height: 80vh;
}

.event {
  min-height: 20vh;
}

.event-logo {
  height: 20vh;
}

.event-logo img {
  border-radius: 25px;
}

.event-description {
  color: white;
}

/*R-join.html ======================*/

.join-section {
  padding-top: 20vh;
  min-height: 80vh;
}

.join-section em{
  color: #ff5733;
}
/*
==================================================================
Footer
*/
.footer {
  height: 20vh;
  background: linear-gradient(16.22deg, rgba(0, 74, 173, 0.9), rgba(148, 99, 214, 0.9));
}

.footer a,
.footer p,
.footer i {
  color: white;
  font-size: 14px;
  line-height: 25px;
}

.footer .col-lg-3{
  padding: 0;
}