/*
==================================================================
Reset
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  overflow-x: hidden;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #7a7a7a;
}

/*
==================================================================
Navigator
*/
.navbar {
  height: 20vh;
  background: linear-gradient(to bottom, #004aad, #9463d6);
}

/*
==================================================================
Banner
*/
.banner {
  margin-top: 20vh;
  padding: 0px;
  height: 100vh;
}

.banner-video {
  object-fit: cover;
  z-index: 0;
  top: 0;
  left: 0;
}

.banner-text {
  color: white;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.126);
}

/*
==================================================================
Section
=====================
index.html
*/

section {
  background: linear-gradient(270deg, #004aad, #3c1e66);
}

.index-section {
  padding: 15px;
}

.index-section img {
  border-radius: 5%;
}

/*about.html ======================*/

.about-section {
  padding-top: 20vh;
  min-height: 80vh;
}

/* .about-section ul{
  border: 0px;
} */

.about-section li {
  cursor: pointer;
}

.tabs-img img {
  height: 50vh;
}


/*event.html ======================*/

#events-list {
  padding-top: 20vh;
  height: 120vh;
  display: flex;
  flex-direction: column;
}

.event {
  height: 20vh;
  margin: 5vh;
}

.event .row {
  height: 100%;
}

.event-logo {
  height: 100%;
}

.event-logo div {
  border-radius: 50px;
  height: 100%;
}

.event-logo img {
  height: 100%;
  border-radius: 25px;

}

.event-summarize-description {
  color: white;
}

/*R-join.html ======================*/

#join-section {
  padding-top: 20vh;
  height: 80vh;
}

#join-content {
  color: orange;
  text-align: center;
}

#join-content p {
  color: white;
}

/*
==================================================================
Footer
*/
.footer {
  height: 20vh;
  background: linear-gradient(to top, #004aad, #9463d6);
}

.footer a,
.footer p {
  color: white;
}